
<!DOCTYPE html>
{% load static %}
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    {% block title %}

    {% endblock %}

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/fonts/tabler-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/swiper/swiper.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
     <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/select2/select2.css' %}" />

    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/flatpickr/flatpickr.css' %}" />

    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/libs/@form-validation/umd/styles/index.min.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'template_trois/assets/vendor/css/pages/cards-advance.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'template_trois/assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="{% static 'template_trois/assets/vendor/js/template-customizer.js' %}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'template_trois/assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- Menu sidebar -->
        {% block sidebar %}

        {% endblock %}

        <!-- / Menu sidebar -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          {% include "admin_school/partials/nav.html" %}

          <!-- / Navbar -->

          <!-- Content wrapper -->

          <div class="content-wrapper">
            <!-- Content -->
            {% block content %}

            <!-- / Content -->
            {% endblock %}

            <!-- Footer -->
           {% include "admin_school/partials/footer.html" %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'template_trois/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/node-waves/node-waves.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/js/menu.js' %}"></script>


    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'template_trois/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/swiper/swiper.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
     <script src="{% static 'template_trois/assets/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>

    <!-- Flat Picker -->
    <script src="{% static 'template_trois/assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <!-- Form Validation -->
    <script src="{% static 'template_trois/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'template_trois/assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>


    <!-- Main JS -->
    <script src="{% static 'template_trois/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'template_trois/assets/js/dashboards-analytics.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'template_trois/assets/js/tables-datatables-basic.js' %}"></script>

<!--    {% for message in messages  %}-->
<!--                {% if message.tags == 'success' %}-->
                     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--                     <script>-->
<!--                         var m = "{{ message }}";-->
<!--                         swal("Perfet !", m,"success")-->
<!--                     </script>-->

<!--                  {% else %}-->
<!--                     <script>-->
<!--                         var m = "{{ message }}";-->
<!--                         swal("Erreur !", m,"error")-->
<!--                     </script>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
    <script src="{% static 'template_trois/assets/js/tables-datatables-advanced.js' %}"></script>

    <script src="{% static 'template_trois/assets/js/app-user-list.js' %}"></script>


<!--  {% for message in messages  %}-->
<!--                {% if message.tags == 'success' %}-->
                     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--                     <script>-->
<!--                         var m = "{{ message }}";-->
<!--                         swal("Perfet !", m,"success")-->
<!--                     </script>-->

<!--                    {% endif %}-->
<!--                {% endfor %}-->

<!--     {% for message in messages  %}-->
<!--                {% if message.tags == 'error' %}-->
                     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--                     <script>-->
<!--                         var m = "{{ message }}";-->
<!--                         swal("Erreur !", m,"error")-->
<!--                     </script>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Ajoutez cette balise script après votre bouton de suppression -->
<script>
<!--// Dans votre fichier JS externe (par exemple, main.js)-->
<!--function confirmDelete(element) {-->
<!--    var deleteUrl = element.getAttribute('data-delete-url');-->

<!--    Swal.fire({-->
<!--        title: "Êtes-vous sûr de vouloir supprimer cet élément?",-->
<!--        showDenyButton: true,-->
<!--        showCancelButton: true,-->
<!--        confirmButtonText: "Oui, supprimer",-->
<!--        denyButtonText: "Non",-->
<!--        cancelButtonText: "Annuler"-->
<!--    }).then((result) => {-->
<!--        if (result.isConfirmed) {-->
<!--            // Faites une requête Ajax pour supprimer l'élément-->
<!--            fetch(deleteUrl, {-->
<!--                method: 'POST',-->
<!--                headers: {-->
<!--                    'X-CSRFToken': '{{ csrf_token }}',-->
<!--                    'Content-Type': 'application/json',-->
<!--                    'Accept': 'application/json',-->
<!--                },-->
<!--            })-->
<!--            .then(response => {-->
<!--                if (response.status === 204) {-->
<!--                    Swal.fire("Supprimé!", "", "success");-->

<!--                    // Retirez visuellement l'élément du tableau-->
<!--                    var rowToRemove = element.closest('tr');-->
<!--                    console.log('Row to remove:', rowToRemove);-->
<!--                    rowToRemove.remove();-->

<!--                } else {-->
<!--                    Swal.fire("Erreur lors de la suppression", "", "error");-->
<!--                }-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Erreur:', error);-->
<!--                Swal.fire("Une erreur s'est produite", "", "error");-->
<!--            });-->
<!--        } else if (result.isDenied) {-->
<!--            Swal.fire("La suppression a été annulée", "", "info");-->
<!--        }-->
<!--    });-->
<!--}-->


</script>
  </body>
</html>