{% extends 'public/partials/base.html' %}
{% load static %}
<!-- title -->
{% block title %}
<title>Apropos de nous</title>
{% endblock  %}
<!--end title -->

<!-- content -->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section id="landingFAQ" class="section-py bg-body landing-faq">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="leave_comment_title">
                <h1 class="text-center">israel wabunda</h1>
                    </div>
                <hr>
            </div>
        </div>
          <h3 class="text-center mb-1 course_author_name">Questions fréquemment  <span class="section-title">posées</span></h3>
          <p class="text-center mb-5 pb-3">Ici vous trouverais des reponses à la plupart des questions nous concernant.</p>
            <div class="row">



          <div class="row gy-5">

            <div class="col-lg-5">
              <div class="text-center">
                <img
                  src="{% static 'images/girl-with-laptop.png' %}"
                  alt="faq boy with logos"
                  class="faq-image img-fluid w-50" />
              </div>
            </div>
            <div class="card col-lg-7">

						<div class="leave_comment_title">QUI SOMMES NOUS ?</div>
                  <h1 class="leave_comment_title">
                        <p></p>
                  </h1>
                    <div class="card-body">

                        <p class="course_author_name">La gestion d'un parc informatique est une discipline essentielle dans le monde moderne des affaires, où les systèmes informatiques jouent un rôle central dans la plupart des activités organisationnelles. Que ce soit pour les petites entreprises ou les grandes corporations, la gestion efficace des ressources informatiques est cruciale pour assurer la disponibilité, la fiabilité et la sécurité des systèmes, ainsi que pour optimiser leur utilisation.
Ce cours sur la gestion d'un parc informatique vise à fournir aux étudiants une compréhension approfondie des principes, des stratégies et des meilleures pratiques qui sous-tendent cette discipline. Au cours de ce programme, nous explorerons les différentes responsabilités et tâches d'un gestionnaire de parc informatique, ainsi que les défis et les enjeux auxquels ils sont confrontés.
</p>

                    </div>

            </div>
          </div>
              <br>
               <br>
               <br>
<!-- second -->
                 <div class="row gy-5">
            <div class="col-lg-5">
              <div class="text-center">
                <img
                  src="{% static 'images/boy-with-rocket-light.png' %}"
                  alt="faq boy with logos"
                  class="faq-image img-fluid w-50" />
              </div>
            </div>
            <div class="card col-lg-7">
                <div class="leave_comment_title">QUEL EST NOTRE OBJECTIF ?</div>
                <h2 class=" news_post_title text-left ">
                        <p></p>
                  </h2>
                    <div class="card-body">
                        <p class="course_author_name"> La gestion d'un parc informatique est une discipline essentielle dans le monde moderne des affaires, où les systèmes informatiques jouent un rôle central dans la plupart des activités organisationnelles. Que ce soit pour les petites entreprises ou les grandes corporations, la gestion efficace des ressources informatiques est cruciale pour assurer la disponibilité, la fiabilité et la sécurité des systèmes, ainsi que pour optimiser leur utilisation.
Ce cours sur la gestion d'un parc informatique vise à fournir aux étudiants une compréhension approfondie des principes, des stratégies et des meilleures pratiques qui sous-tendent cette discipline. Au cours de ce programme, nous explorerons les différentes responsabilités et tâches d'un gestionnaire de parc informatique, ainsi que les défis et les enjeux auxquels ils sont confrontés.
</p>

                    </div>
                  </div>

          </div>

              <!--troisième -->
              <br>
              <br>
              <br>
                       <div class="row gy-5">
            <div class="col-lg-5">
              <div class="text-center">
                <img
                  src="{% static 'images/card-advance-sale.png' %}"
                  alt="faq boy with logos"
                  class="faq-image img-fluid w-50" />
              </div>
            </div>
            <div class="card col-lg-7">
                <div class="leave_comment_title">NOS PROJETS FUTURES </div>

                  <h3 class="text-left" >

                  </h3>
                    <div class="card-body">

                        <p class="course_author_name">La gestion d'un parc informatique est une discipline essentielle dans le monde moderne des affaires, où les systèmes informatiques jouent un rôle central dans la plupart des activités organisationnelles. Que ce soit pour les petites entreprises ou les grandes corporations, la gestion efficace des ressources informatiques est cruciale pour assurer la disponibilité, la fiabilité et la sécurité des systèmes, ainsi que pour optimiser leur utilisation.
Ce cours sur la gestion d'un parc informatique vise à fournir aux étudiants une compréhension approfondie des principes, des stratégies et des meilleures pratiques qui sous-tendent cette discipline. Au cours de ce programme, nous explorerons les différentes responsabilités et tâches d'un gestionnaire de parc informatique, ainsi que les défis et les enjeux auxquels ils sont confrontés.
</p>

                    </div>
                  </div>
                </div>
            </div>
          </div>





      </section>

{% endblock content %}